# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

#c++ objects and libs
*.slo
*.lo
*.o
*.a
*.lai
*.so
*.dll
*.dylib

#Qt-es
object_script.*.Release
object_script.*.Debug
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

#Qt unit tests
target_wrapper.*

#QtCreator
*.qmlproject.user
*.qmlproject.user.*

#QtCreator CMake
CMakeLists.txt.user*

!core/
*.*#
*.a
*.app
*.autosave
*.core
*.debug
*.embed.manifest
*.moc
*.o
*.obj
*.orig
*.prl
*.qm
*.rc
*.rej
*.res
*.so
*.so.*
*_pch.h.cpp
*_resource.rc
*_wrapper.bat
*_wrapper.sh
*~

qt_create_source/
Debug/